body {
    font-size: 15px;
    background-color: #15202b;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    padding: 20px 0px;
}
